<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歡迎光臨網站會員中心</title>
</head>
<body>
    <h2>歡迎來到會員中心頁面</h2>
    <div>您好，很高興見到你</div>

<h3>更改使用者資料</h3>
<form action="/upgrade", method="post">
    暱稱<input type="text", name="nickname">
    信箱<input type="text", name="email">
    密碼<input type="password", name="password">
    <button>更改</button>
</form>

    <div><a href="/signout">登出</a></div>
</body>
</html>